In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [2]:
data1 = pd.read_csv('data/df_first_3000.csv')
data1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,NaN,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,NaN,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [8]:
# Loop through each column and display its unique values
for column in data1.columns:
    unique_values = data1[column].unique()
    print(f"Column: {column}")
    print(f"Unique Values: {unique_values}")
    print("\n")

Column: customerID
Unique Values: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '1891-FZYSA' '4770-UEZOX'
 '1A1:U3001038-RQOST']


Column: gender
Unique Values: ['Female' 'Male']


Column: SeniorCitizen
Unique Values: [False  True]


Column: Partner
Unique Values: [ True False]


Column: Dependents
Unique Values: [False  True]


Column: tenure
Unique Values: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]


Column: PhoneService
Unique Values: [False  True]


Column: MultipleLines
Unique Values: [nan False True]


Column: InternetService
Unique Values: ['DSL' 'Fiber optic' 'No']


Column: OnlineSecurity
Unique Values: [False True nan]


Column: OnlineBackup
Unique Values: [True False nan]


Column: DeviceProtection
Unique Values: [False True nan]


Column: TechSupport
Unique Values: [False True nan]


Column: StreamingTV
Unique Values: [False True nan]


Column: StreamingMovies
Unique Values: [False True nan]


Column: Contract
Unique Values: ['Month-to-month' 'One year' 'Two year']


Column: PaperlessBilling
Unique Values: [ True False]


Column: PaymentMethod
Unique Values: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']


Column: MonthlyCharges
Unique Values: [29.85000038 56.95000076 53.84999847 ... 33.90000153 34.
 38.59999847]


Column: TotalCharges
Unique Values: [  29.85000038 1889.5         108.15000153 ... 6143.14990234  144.80000305
  414.95001221]


Column: Churn
Unique Values: [False True nan]

In [3]:
data2 = pd.read_csv('data/df_second_2000.csv')
data2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

In [6]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

In [9]:
# Loop through each column and display its unique values
for column in data2.columns:
    unique_values = data1[column].unique()
    print(f"Column: {column}")
    print(f"Unique Values: {unique_values}")
    print("\n")

Column: customerID
Unique Values: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '1891-FZYSA' '4770-UEZOX'
 '1A1:U3001038-RQOST']


Column: gender
Unique Values: ['Female' 'Male']


Column: SeniorCitizen
Unique Values: [False  True]


Column: Partner
Unique Values: [ True False]


Column: Dependents
Unique Values: [False  True]


Column: tenure
Unique Values: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]


Column: PhoneService
Unique Values: [False  True]


Column: MultipleLines
Unique Values: [nan False True]


Column: InternetService
Unique Values: ['DSL' 'Fiber optic' 'No']


Column: OnlineSecurity
Unique Values: [False True nan]


Column: OnlineBackup
Unique Values: [True False nan]


Column: DeviceProtection
Unique Values: [False True nan]


Column: TechSupport
Unique Values: [False True nan]


Column: StreamingTV
Unique Values: [False True nan]


Column: StreamingMovies
Unique Values: [False True nan]


Column: Contract
Unique Values: ['Month-to-month' 'One year' 'Two year']


Column: PaperlessBilling
Unique Values: [ True False]


Column: PaymentMethod
Unique Values: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']


Column: MonthlyCharges
Unique Values: [29.85000038 56.95000076 53.84999847 ... 33.90000153 34.
 38.59999847]


Column: TotalCharges
Unique Values: [  29.85000038 1889.5         108.15000153 ... 6143.14990234  144.80000305
  414.95001221]

In [4]:
data3 = pd.read_csv('data/df_last_2000.csv')
data3.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [7]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [10]:
# Loop through each column and display its unique values
for column in data3.columns:
    unique_values = data1[column].unique()
    print(f"Column: {column}")
    print(f"Unique Values: {unique_values}")
    print("\n")

Column: customerID
Unique Values: ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '1891-FZYSA' '4770-UEZOX'
 '1A1:U3001038-RQOST']


Column: gender
Unique Values: ['Female' 'Male']


Column: SeniorCitizen
Unique Values: [False  True]


Column: Partner
Unique Values: [ True False]


Column: Dependents
Unique Values: [False  True]


Column: tenure
Unique Values: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]


Column: PhoneService
Unique Values: [False  True]


Column: MultipleLines
Unique Values: [nan False True]


Column: InternetService
Unique Values: ['DSL' 'Fiber optic' 'No']


Column: OnlineSecurity
Unique Values: [False True nan]


Column: OnlineBackup
Unique Values: [True False nan]


Column: DeviceProtection
Unique Values: [False True nan]


Column: TechSupport
Unique Values: [False True nan]


Column: StreamingTV
Unique Values: [False True nan]


Column: StreamingMovies
Unique Values: [False True nan]


Column: Contract
Unique Values: ['Month-to-month' 'One year' 'Two year']


Column: PaperlessBilling
Unique Values: [ True False]


Column: PaymentMethod
Unique Values: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']


Column: MonthlyCharges
Unique Values: [29.85000038 56.95000076 53.84999847 ... 33.90000153 34.
 38.59999847]


Column: TotalCharges
Unique Values: [  29.85000038 1889.5         108.15000153 ... 6143.14990234  144.80000305
  414.95001221]


Column: Churn
Unique Values: [False True nan]

In [27]:
# Display unique values for each column one by one
print("Unique values in 'PhoneService' column:")
print(data1['PhoneService'].unique())
print("\n")

print("Unique values in 'MultipleLines' column:")
print(data3['MultipleLines'].unique())
print("\n")

print("Unique values in 'InternetService' column:")
print(data1['InternetService'].unique())
print("\n")

print("Unique values in 'OnlineSecurity' column:")
print(data1['OnlineSecurity'].unique())
print("\n")

print("Unique values in 'OnlineBackup' column:")
print(data1['OnlineBackup'].unique())
print("\n")

print("Unique values in 'DeviceProtection' column:")
print(data1['DeviceProtection'].unique())
print("\n")

Unique values in 'PhoneService' column:
[False  True]


Unique values in 'MultipleLines' column:
['No' 'No phone service' 'Yes']


Unique values in 'InternetService' column:
['DSL' 'Fiber optic' 'No']


Unique values in 'OnlineSecurity' column:
[False True nan]


Unique values in 'OnlineBackup' column:
[True False nan]


Unique values in 'DeviceProtection' column:
[False True nan]

In [26]:
print("Unique values in 'TechSupport' column:")
print(data1['TechSupport'].unique())
print("\n")

print("Unique values in 'StreamingTV' column:")
print(data3['StreamingTV'].unique())
print("\n")

print("Unique values in 'StreamingMovies' column:")
print(data1['StreamingMovies'].unique())
print("\n")

print("Unique values in 'Contract' column:")
print(data1['Contract'].unique())
print("\n")

print("Unique values in 'PaperlessBilling' column:")
print(data1['PaperlessBilling'].unique())
print("\n")

print("Unique values in 'PaymentMethod' column:")
print(data1['PaymentMethod'].unique())
print("\n")

Unique values in 'TechSupport' column:
[False True nan]


Unique values in 'StreamingTV' column:
['No' 'Yes' 'No internet service']


Unique values in 'StreamingMovies' column:
[False True nan]


Unique values in 'Contract' column:
['Month-to-month' 'One year' 'Two year']


Unique values in 'PaperlessBilling' column:
[ True False]


Unique values in 'PaymentMethod' column:
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [33]:
print("Unique values in 'TotalCharges' column:")
print(data1['Partner'].unique())
print("\n")

print("Unique values in 'Churn' column:")
print(data1['Dependents'].unique())
print("\n")

Unique values in 'TotalCharges' column:
[ True False]


Unique values in 'Churn' column:
[False  True]

In [34]:
print("Unique values in 'TotalCharges' column:")
print(data3['Partner'].unique())
print("\n")

print("Unique values in 'Churn' column:")
print(data3['Dependents'].unique())
print("\n")

Unique values in 'TotalCharges' column:
['No' 'Yes']


Unique values in 'Churn' column:
['No' 'Yes']

In [23]:
print("Unique values in 'MonthlyCharges' column:")
print(data1['MonthlyCharges'].unique())
print("\n")

print("Unique values in 'TotalCharges' column:")
print(data1['TotalCharges'].unique())
print("\n")

print("Unique values in 'Churn' column:")
print(data1['Churn'].unique())
print("\n")

Unique values in 'MonthlyCharges' column:
[29.85000038 56.95000076 53.84999847 ... 33.90000153 34.
 38.59999847]


Unique values in 'TotalCharges' column:
[  29.85000038 1889.5         108.15000153 ... 6143.14990234  144.80000305
  414.95001221]


Unique values in 'Churn' column:
[False True nan]

In [35]:
# Convert 'Churn' column in data1 and data2 to 'Yes' and 'No'
data1['Partner'] = data1['Partner'].map({True: 'Yes', False: 'No'})
data1['Dependents'] = data1['Dependents'].map({True: 'Yes', False: 'No'})
data1['PhoneService'] =data1['PhoneService'].map({True: 'Yes', False: 'No'})
data1['MultipleLines'] =data1['MultipleLines'].map({True: 'Yes', False: 'No'})
data1['OnlineSecurity'] =data1['OnlineSecurity'].map({True: 'Yes', False: 'No'})
data1['OnlineBackup'] =data1['OnlineBackup'].map({True: 'Yes', False: 'No'})
data1['DeviceProtection'] =data1['DeviceProtection'] .map({True: 'Yes', False: 'No'})
data1['TechSupport'] = data1['TechSupport'] .map({True: 'Yes', False: 'No'})
data1['StreamingTV']=data1['StreamingTV'] .map({True: 'Yes', False: 'No'})
data1['StreamingMovies'] =data1['StreamingMovies'].map({True: 'Yes', False: 'No'})
data1['PaperlessBilling'] =data1['PaperlessBilling'].map({True: 'Yes', False: 'No'})
data1['Churn'] = data1['Churn'].map({True: 'Yes', False: 'No'})
data1.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,Yes,No,1,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,NaN,Month-to-month,NaN,Electronic check,29.850000,29.85,NaN
1,5575-GNVDE,Male,False,No,No,34,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,NaN,One year,NaN,Mailed check,56.950001,1889.50,NaN

In [36]:
mergedTrain_data = pd.concat([data1, data3], ignore_index= True)
mergedTrain_data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,NaN,Month-to-month,NaN,Electronic check,29.850000,29.85,NaN
1,5575-GNVDE,Male,0,No,No,34,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,NaN,One year,NaN,Mailed check,56.950001,1889.5,NaN
2,3668-QPYBK,Male,0,No,No,2,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,NaN,Month-to-month,NaN,Mailed check,53.849998,108.150002,NaN
3,7795-CFOCW,Male,0,No,No,45,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,NaN,One year,NaN,Bank transfer (automatic),42.299999,1840.75,NaN
4,9237-HQITU,Female,0,No,No,2,NaN,NaN,Fiber optic,NaN,...,NaN,NaN,NaN,NaN,Month-to-month,NaN,Electronic check,70.699997,151.649994,NaN

In [37]:
mergedTrain_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

In [38]:
mergedTrain_data.to_csv('data/merged_data.csv', index=False)